@page "/"
@inject CVLab.Interfaces.IAuthenticationService AuthenticationService

@inject CVLab.Services.MongoDBService2 MongoDB
@inject CVLab.Services.MongoDBService MongoDB2
@inject CVLab.Services.MongoDBService3 MongoDB3
@inject CVLab.Services.MongoDBService4 MongoDB4



@using CVLab.Data

<div class="Main">
    <div class="img1">
        <img src="Ali2.png" alt="Ali Kathem" />
    </div>
    <div class="PersonalContainer">
        <div class="PersonalName">Ali Kathem</div>
        <div class="PersonalInfo">

            Adress:Vårvädersgatan7
            <br>
            41831 Göteborg
            <br>
            Tel/mail:+46742634564
            <br>
            ali.kathem1001@gmail.com
            <br>
            <br>
            <p style= "font-weight: bold ">Språk</p>
            Engelska–flytande
            <br>
            Svanska–flytande
            <br>
            Arabiska–modersmål
            <br>
            <label>Länker:</label>
            <br>
            <a href="https://github.com/Ali-k0">Min Github </a>
            <br>
            <a href="https://www.linkedin.com/in/ali-kathem-7815292b3/">Min Linkedin </a>
            <br>
            <br>
            <p style="font-weight: bold ">
                REFERENSER ges vid begäran
            </p>
            
        </div>
    </div>
</div>

<div class="Main3">
   
    @if (AuthenticationService.IsAuthenticated)
    {
        <div class="ButtonDiv ">
            <button type="button" @onclick="ShowAddProfilForm1" style=" margin-right: 10px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 3px darkslategrey ;">
                Lägg till
            </button>
            <button type="button" @onclick="ShowEditProfilForm1" style="  margin-right: 10px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 3px darkslategrey  ;">Redigera</button>
        </div>
        @if (ShowEditProfilForm)
        {
            <h3 style="font-weight: bold">Redigera</h3>
            <div class="container1" >
                <div style=" margin-left: 20px;">
                    <form @onsubmit="EditProfil">
                        <br>
                        <label for="name">Gammal Titel:</label>
                        <br>
                        <input type="text" id="name" @bind="titel" />
                        <br>
                        <label for="name">Titel:</label>
                        <br>
                        <input type="text" id="name" @bind="EditaProfil.Titel" />
                        <br>
                        <label for="name">Text:</label>
                        <br>
                        <textarea id="myTextarea" name="myTextarea" rows="4" cols="50" @bind="EditaProfil.Text">
                                </textarea>
                        <br>
                        <button type="submit" style="width:120px; margin-bottom:15px; background-color: rgb(47, 79, 79, 0.80); color: white; border: 1px solid white ;">Redigera</button>
                        <br>
                    </form>
                </div>
            </div>
        }

        @if (showAddProfilForm)
        {
            <h3>Lägg till</h3>
            <div class="container1" style="margin-top:10px;">
                <div style=" margin-left: 20px;">

                    <form @onsubmit="AddProfil">
                        <br>
                        <label for="name">Titel:</label>
                        <br>
                        <input type="text" id="name" @bind="NewCvMainDate.Titel" />
                        <br>
                        <label for="name">Text:</label>
                        <br>
                        <textarea id="myTextarea" name="myTextarea" rows="4" cols="50" @bind="NewCvMainDate.Text">
                                </textarea>
                        <br>
                        <button type="submit" style="width:120px; margin-bottom:15px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 1px solid white ;">Lägg till</button>
                        <br>
                    </form>
                </div>
            </div>
        }
    }
    
    @if (Data == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var item in Data)
        {
            <div class="Profilcont">
                <h3 style="font-weight: bold"> @item.Titel</h3>
               
                @item.Text

            </div>
        }
    }
</div>

<div class="Main3">
   
    @if (AuthenticationService.IsAuthenticated)
    {
        <div class="ButtonDiv">
            <button type="button" @onclick="ShowAddSkillForm" style=" margin-right: 10px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 3px darkslategrey ;">
                Lägg till
            </button>
            <button type="button" @onclick="ShowEditSkillForm1" style="  margin-right: 10px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 3px darkslategrey  ;">Redigeral</button>
            <button type="button" @onclick="ShowDeletSkillForm1" style="  margin-right: 10px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 3px darkslategrey  ;">Tabort</button>
        </div>

        @if (ShowDeletSkillForm)
        {
            <h3>Tabort</h3>
            <div class="container1" >
                <div  style=" margin-left: 20px;">
                <form @onsubmit="DeleteSkill" >
                    <br>
                        <label for="SkillName">Kompetens namn:</label>
                    <br>
                    <input type="text" id="name" @bind="Id" style=" margin-bottom: 10px; " />
                    <br>
                        <button type="submit" style="width:120px; margin-bottom:15px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 1px solid white ;">Tabort</button>
                    <br>
                 </form>
                 </div>
            </div>
        }
        @if (ShowEditSkillForm)
        {
            <h3>Redigera</h3>
            <div class="container1" >
                <div style=" margin-left: 20px;">
                <form @onsubmit="EditSkill">
                    <br>
                        <label for="SkillName">Gammal kompetens namn:</label>
                    <br>
                    <input type="text" id="name" @bind="Id" style=" margin-bottom: 10px;;" />
                    <br>
                    <label for="SkillName">Kompetens namn:</label>
                    <br>
                    <input type="text" id="name" @bind="EditaSkill.SkellName" style=" margin-bottom: 10px; ;" />
                    <br>
                    <label for="Antalår">Antal år:  </label>
                    <br>
                    <input type="text" id="years" @bind="EditaSkill.YearsOfExperience" style=" margin-bottom: 10px; ;" />
                    <br>
                        <label for="SkillNivå">Kompetens nivå: </label>
                    <br>
                    <input type="text" id="level" @bind="EditaSkill.level" style=" margin-bottom: 10px; " />
                    <br>
                        <button type="submit" style="width:120px; margin-bottom:15px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 1px solid white ;">Redigera</button>
                        <br>
                    </form>
                </div>
            </div>
        }
        @if (showAddSkillForm)
        {
            <h3>Add New Skill</h3>
            <div class="container1" style="height = 300px;">
                <div style=" margin-left: 20px;">
                <form @onsubmit="AddSkill">
                    <br>
                        <label for="SkillName">Kompetens namn:</label>
                        <br>
                    <input type="text" id="name" @bind="NewSkill.SkellName" style=" margin-bottom: 10px; " />
                    <br>
                    <label for="Antalår">Antal år:  </label>
                        <br>
                    <input type="text" id="years" @bind="NewSkill.YearsOfExperience" style=" " />
                    <br>
                        <label for="SkillNivå">Kompetens nivå: </label>
                        <br>
                    <input type="text" id="level" @bind="NewSkill.level" style=" margin-bottom: 10px; " />
                    <br >
                    <button type="submit" style="width:120px; margin-bottom:15px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 1px solid white ;">Lägg till</button>
                     <br>
                    </form>
                </div>
            </div>
        }
    }
    <h3 style="font-weight: bold">Teknisk Kompetenser:</h3>
    @if (Data2 == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Kompetens Namn</th>
                    <th>År av erfarenhet</th>
                    <th>Kompetens nivå (%)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Data2)
                {
                    <tr>
                        <td>@item.SkellName</td>
                        <td>@item.YearsOfExperience</td>
                        <td>
                            <div class="rectangle" style="background-color: gray; width: 300px; height: 20px;">
                                <div class="fill" style="width:@item.level%;">@item.level%</div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div class="Main3">
    @if (AuthenticationService.IsAuthenticated)
    {
        <div class="ButtonDiv">
            <button type="button" @onclick="ShowAddWorkForm1" style=" margin-right: 10px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 3px darkslategrey ;">
                Lägg till
            </button>
            <button type="button" @onclick="ShowEditWorkForm1" style="  margin-right: 10px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 3px darkslategrey  ;">Redigera</button>
            <button type="button" @onclick="ShowDeletWorkForm1" style="  margin-right: 10px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 3px darkslategrey  ;">Tabort </button>
        </div>
       

        @if (ShowDeletWorkForm)
        {
            <h3>Tabort</h3>
            <div class="container1" style="height = 180px;">
                <div style=" margin-left: 20px;">
                    <form @onsubmit="DeleteWork">
                        <br>
                        <label for="Id">Jobb/Utbildning Id:</label>
                        <br>
                        <input type="text" id="name" @bind="Id" style=" margin-bottom: 10px;" />
                        <br>
                        <button type="submit" style="width:120px;  margin-bottom:15px;  background-color: rgb(47, 79, 79, 0.80); color: white;   border: 1px solid white ;">Tabort</button>
                        <br>
                    </form>
                </div>
            </div>
        }
        @if (ShowEditWorkForm)
        {
            <h3>Redigera</h3>
            <div class="container1" style="height = 600px;">
                <div style=" margin-left: 20px;">
                    <form @onsubmit="EditWorkform">
                        <label for="Id">Jobb/Utbildning Id:</label>
                        <br>
                        <input type="text" id="Id" @bind="WorkId" style="margin-bottom: 10px;" />
                        <br>
                        <label for="Company">Förtag/Skola namn:</label>
                        <br>
                        <input type="text" id="Company" @bind="EditWork.Place" style="margin-bottom: 10px; " />
                        <br>
                        <label for="Titel">Titel:</label>
                        <br>
                        <input type="text" id="Titel" @bind="EditWork.Titel" style="margin-bottom: 10px;" />
                        <br>
                        <label for="startDate">Start Datum:</label>
                        <br>
                        <input type="date" id="startDate" @bind="EditWork.startDate" style="margin-bottom: 10px; " />
                        <br>
                        <label for="endDate">Slut Datum:</label>
                        <br>
                        <input type="date" id="endDate" @bind="EditWork.endDate" style="margin-bottom: 10px;" />
                        <br>
                        <label for="Description">Beskrivning:</label>
                        <br>
                        <textarea id="myTextarea" name="myTextarea" rows="4" cols="50" @bind="EditWork.text">

                            </textarea>
                        <br>
                        <button type="submit" style="width:120px;  margin-bottom:15px;  background-color: rgb(47, 79, 79, 0.80); color: white;   border: 1px solid white ;">Redigera</button>
                        <br>
                    </form>
                </div>
            </div>
        }
        @if (showAddWorkForm)
        {
            <div class="container1" style="height = 600px;">
                <div style=" margin-left: 20px;">
                    <form @onsubmit="AddWork">

                        <label for="Company">Förtag/Skola namn:</label>
                        <br>
                        <input type="text" id="Company" @bind="NewWork.Place" style="margin-bottom: 10px; " />
                        <br>
                        <label id="type" for="type">Välja kategori</label>
                        <br>
                        <select @bind="NewWork.type">
                            <option value="">Välja</option>
                            <option value="Jobb">Jobb</option>
                            <option value="Utbildning">Utbildning</option>                      
                        </select>
                        <br />
                        <label for="Titel">Titel:</label>
                        <br>
                        <input type="text" id="Titel" @bind="NewWork.Titel" style="margin-bottom: 10px;" />
                        <br>
                        <label for="startDate">Start Datum:</label>
                        <br>
                        <input type="date" id="startDate" @bind="NewWork.startDate" style="margin-bottom: 10px;" />
                        <br>
                        <label for="endDate">Slut Datum:</label>
                        <br>
                        <input type="date" id="endDate" @bind="NewWork.endDate" style="margin-bottom: 10px; " />
                        <br>
                        <label for="Description">Beskrivning:</label>
                        <br>
                        <textarea id="myTextarea" name="myTextarea" rows="4" cols="50" @bind="NewWork.text">
                            </textarea>
                        <br>
                        <button type="submit" style="width:120px;  margin-bottom:15px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 1px solid white ;">Lägg till</button>
                        <br>
                    </form>
                </div>
            </div>
        }
    }
    <h3 style="font-weight: bold">Arbete erfarenhet</h3>
    @if (Data4 == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var item in Data4)
        {
            @if (item.type == "Jobb")
            {
                <div class="SkillCont" style="margin-top: 20px;border-bottom: 0.5px solid darkslategrey ;">
                    ID: @item.Id
                    <p style="font-weight: bold"> @item.Place</p>
                    @item.Titel | @item.startDate.Year/ @item.startDate.Month - @item.endDate.Date.Year /@item.endDate.Date.Month
                    <br>
                    @item.text
                    <br>
                </div>
            }
        }
    }

<br>
    <h3 style="font-weight: bold">Utbildning</h3>
    @if (Data4 == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var item in Data4)
        {
        @if (item.type == "Utbildning")
            {
                <div class="SkillCont" style="margin-top: 20px;border-bottom: 0.5px solid darkslategrey;">
                    ID: @item.Id
                    <p style="font-weight: bold"> @item.Place</p>
                    @item.Titel | @item.startDate.Year/ @item.startDate.Month - @item.endDate.Date.Year /@item.endDate.Date.Month
                    <br>
                    @item.text
                     <br>
                </div>
            }
        }
    }
    </div>

    <div class="Main3">
        
        @if (AuthenticationService.IsAuthenticated)
        {
           
            <div class="ButtonDiv">
                <button type="button" @onclick="ShowAddProjectForm1" style=" margin-right: 10px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 3px darkslategrey ;">
                    Lägg till
                </button>
                <button type="button" @onclick="ShowEditProjectForm1" style="  margin-right: 10px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 3px darkslategrey  ;">Redigera</button>
            </div>
            @if (ShowEditProjectForm)
            {
                <div class="container1">
                    <div style="margin-left: 20px;">
                        <form @onsubmit="EditProject1">
                            <br>
                            <label for="name">Gammal Projekt namn:</label>
                            <br>
                            <input type="text" id="name" @bind="titel" />
                            <br>
                        <label for="name">Ny Projekt namn:</label>
                            <br>
                            <input type="text" id="name" @bind="EditaProfil.Titel" />
                            <br>
                        <label for="name">Beskrivning:</label>
                            <br>
                            <textarea id="myTextarea" name="myTextarea" rows="4" cols="50" @bind="EditaProfil.Text">
                                        </textarea>
                            <br>
                        <button type="submit" style="width:120px; margin-bottom:15px;   background-color: rgb(47, 79, 79, 0.80); color: white;   border: 1px solid white ;">Redigera</button>
                            <br>
                        </form>
                    </div>
                </div>
            }

            @if (showAddProjectForm)
            {
                <div class="container1">
                    <div style=" margin-left: 20px;">
                        <form @onsubmit="AddProject">
                            <br>
                            <label for="name">Projekt namn:</label>
                            <br>
                            <input type="text" id="name" @bind="NewProject.Titel" />
                            <br>
                            <label for="name">Beskrivning:</label>
                            <br>
                            <textarea id="myTextarea" name="myTextarea" rows="4" cols="50" @bind="NewProject.Text">
                                        </textarea>
                            <br>
                        <button type="submit" style="width:120px;   margin-bottom:15px; background-color: rgb(47, 79, 79, 0.80); color: white;   border: 1px solid white ;">Lägg till</button>
                            <br>
                        </form>
                    </div>
                </div>
            }
        }
    <h3 style="font-weight: bold">Projekt</h3>
        @if (Data3 == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th>Projekt</th>
                        <th>Beskrivning</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Data3)
                    {
                        <tr>
                            <td style="font-weight: bold">@item.Titel</td>
                            <td>@item.Text</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
         </div>
    

   

@code {
    private List<CvMainDate> Data;
    private CvMainDate NewCvMainDate = new CvMainDate();
    private CvMainDate EditaProfil = new CvMainDate();
    private bool showAddProfilForm = false;
    private bool ShowEditProfilForm = false;
    private bool ShowDeletProfilForm = false;
    private string titel;
    private void ShowDeletProfilorm1()
    {
        ShowEditProfilForm = false;
        showAddProfilForm = false;
        ShowDeletProfilForm = true;

    }
    private void ShowEditProfilForm1()
    {
        ShowEditProfilForm = true;
        showAddProfilForm = false;
        ShowDeletProfilForm = false;


    }

    private void ShowAddProfilForm1()
    {
        ShowEditProfilForm = false;
        showAddProfilForm = true;
        ShowDeletProfilForm = false;

    }

    protected override async Task OnInitializedAsync()
    {
        Data = await MongoDB.GetProfilAsync();
        Data2 = await MongoDB2.GetSkillsAsync();
        Data4 = await MongoDB3.GetWorkAsync();
        Data3 = await MongoDB4.GetProjectAsync();

    }

    private async Task AddProfil()
    {
        await MongoDB.AddProfiilAsync(NewCvMainDate);
        NewCvMainDate = new CvMainDate(); 
        Data = await MongoDB.GetProfilAsync(); 
        showAddProfilForm = false;
    }
    private async Task EditProfil()
    {
        NewCvMainDate = await MongoDB.GetProfilByNameAsync(titel);
        await MongoDB.UpdateProfilAsync(NewCvMainDate.Id, EditaProfil);
        EditaProfil = new CvMainDate();
        Data = await MongoDB.GetProfilAsync();
        ShowEditProfilForm = false;
    }




    private List<Project> Data3;
    private Project NewProject = new Project();
    private Project EditaProject = new Project();
    private bool showAddProjectForm = false;
    private bool ShowEditProjectForm = false;
    private bool ShowDeletProjectForm = false;
    private string titel2;
    private void ShowDeletProjectorm1()
    {
        ShowEditProjectForm = false;
        showAddProjectForm = false;
        ShowDeletProjectForm = true;

    }
    private void ShowEditProjectForm1()
    {
        ShowEditProjectForm = true;
        showAddProjectForm = false;
        ShowDeletProjectForm = false;


    }

    private void ShowAddProjectForm1()
    {
        ShowEditProjectForm = false;
        showAddProjectForm = true;
        ShowDeletProjectForm = false;

    }

    private async Task AddProject()
    {
        await MongoDB4.AddProjectAsync(NewProject);
        NewProject = new Project(); 
        Data3 = await MongoDB4.GetProjectAsync(); 
    }
    private async Task EditProject1()
    {
        NewProject = await MongoDB4.GetProjectByNameAsync(titel);
        await MongoDB4.UpdateProjectAsync(NewCvMainDate.Id, EditaProject);
        EditaProfil = new CvMainDate();
        Data3 = await MongoDB4.GetProjectAsync();
        ShowEditProjectForm = false;
    }

    private List<Skill> Data2;
    private Skill NewSkill = new Skill();
    private Skill EditaSkill = new Skill();
    private String Id;
    private bool showAddSkillForm = false;
    private bool ShowEditSkillForm = false;
    private bool ShowDeletSkillForm = false;



    private async Task EditSkill()
    {
        NewSkill = await MongoDB2.GetSkillByNameAsync(Id);
        await MongoDB2.UpdateSkillAsync(NewSkill.Id, EditaSkill);
        EditaSkill = new Skill();
        Data2 = await MongoDB2.GetSkillsAsync();
        ShowEditSkillForm = false;
    }

    private async Task DeleteSkill()
    {
        NewSkill = await MongoDB2.GetSkillByNameAsync(Id);
        await MongoDB2.DeleteSkillAsync(NewSkill.Id);
        NewSkill = new Skill();
        Data2 = await MongoDB2.GetSkillsAsync();
        ShowDeletSkillForm = false;
    }
    private async Task AddSkill()
    {
        await MongoDB2.AddSkillAsync(NewSkill);
        NewSkill = new Skill();
        Data2 = await MongoDB2.GetSkillsAsync();
        showAddSkillForm = false;
    }
    private void ShowDeletSkillForm1()
    {
        ShowEditSkillForm = false;
        showAddSkillForm = false;
        ShowDeletSkillForm = true;

    }
    private void ShowEditSkillForm1()
    {
        ShowEditSkillForm = true;
        showAddSkillForm = false;
        ShowDeletSkillForm = false;


    }

    private void ShowAddSkillForm()
    {
        ShowEditSkillForm = false;
        showAddSkillForm = true;
        ShowDeletSkillForm = false;

    }

    private List<WorkExperience> Data4;
    private WorkExperience NewWork = new WorkExperience();
    private WorkExperience EditWork = new WorkExperience();
    private String WorkId;
    private bool showAddWorkForm = false;
    private bool ShowEditWorkForm = false;
    private bool ShowDeletWorkForm = false;


    private async Task EditWorkform()
    {
        NewWork = await MongoDB3.GetWorkByIdAsync(Id);
        await MongoDB3.UpdateWorkAsync(NewWork.Id, EditWork);
        EditWork = new WorkExperience();
        Data4 = await MongoDB3.GetWorkAsync();
        ShowEditWorkForm = false;
    }
    private async Task DeleteWork()
    {
        NewWork = await MongoDB3.GetWorkByIdAsync(Id);
        await MongoDB3.DeleteWorkAsync(NewWork.Id);
        NewWork = new WorkExperience();
        Data4 = await MongoDB3.GetWorkAsync();
        ShowDeletWorkForm = false;
    }
    private async Task AddWork()
    {
        await MongoDB3.AddSWorkAsync(NewWork);
        NewWork = new WorkExperience();
        Data4 = await MongoDB3.GetWorkAsync();
        showAddWorkForm = false;
    }
    private void ShowDeletWorkForm1()
    {
        ShowEditWorkForm = false;
        showAddWorkForm = false;
        ShowDeletWorkForm = true;

    }
    private void ShowEditWorkForm1()
    {
        ShowEditWorkForm = true;
        showAddWorkForm = false;
        ShowDeletWorkForm = false;


    }

    private void ShowAddWorkForm1()
    {
        ShowEditWorkForm = false;
        showAddWorkForm = true;
        ShowDeletWorkForm = false;

    }
}

